<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>{{itself.tpc_title}}</h1>
    publisher:<a href="/user/{{user.usr_id}}">{{user.usr_nick}}</a><br/>

    {% for i in parents %}
    <a href="/node/children/{{i.node_id}}">{{i.nod_title}}</a>|
    {% endfor %}
    <br/>
    {% for i in areas %}
    <a href="/area/children/{{i.area_id}}">{{i.area_title}}</a>|
    {% endfor %}
    <br/>
    <p>{{itself.tpc_content}}</p>

    <ul>
    {% for i in reply %}
    <li><a href="/user/{{i.rpl_post_usr_id}}">{{i.user.usr_nick}}</a></li>{{i.rpl_content}}
    {%endfor%}
    </ul>
</body>
</html>